<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>SIGPRER</Name><AddInID>{1154c0f5-7569-4e09-879a-86ed4b603e08}</AddInID><Description>Manejo sistema SIGPRER</Description><Version>1</Version><Image /><Author>Luis Vi&#241;amagua</Author><Company>Untitled</Company><Date>03/07/2017</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="sigprer_addin_addin.py" namespace="sigprer_addin_addin"><ArcMap>
    <Commands>
        <Button caption="Inicio Sesi&#243;n" category="SIGPRER" class="Iniciar" id="sigprer_addin_addin.btnInicio" image="" message="Iniciar sesi&#243;n de usuario" tip="Iniciar sesi&#243;n de usuario"><Help heading="Iniciar sesi&#243;n de usuario">Iniciar sesi&#243;n de usuario</Help></Button>
        <Button caption="Cerrar Sesi&#243;n" category="SIGPRER" class="Cerrar" id="sigprer_addin_addin.btnCerrar" image="" message="Cerrar sesi&#243;n de usuario" tip="Cerrar sesi&#243;n de usuario"><Help heading="Cerrar sesi&#243;n de usuario">Cerrar sesi&#243;n de usuario</Help></Button>
        <Button caption="Datos del Predio:" category="SIGPRER" class="ButtonClass3" id="sigprer_addin_addin.button" image="" message="" tip=""><Help heading="" /></Button>
        <Tool caption="Ingresar Datos" category="SIGPRER" class="Ingresar" id="sigprer_addin_addin.tool" image="" message="Ingresar datos al predio seleccionado" tip="Ingresar datos al predio seleccionado"><Help heading="Ingresar datos al predio seleccionado">Ingresar datos al predio seleccionado</Help></Tool>
        <Tool caption="Consultar Datos" category="SIGPRER" class="Consultar" id="sigprer_addin_addin.tool_1" image="" message="" tip=""><Help heading="" /></Tool>
        <Button caption="Ubicaci&#243;n del Predio:" category="SIGPRER" class="ButtonClass8" id="sigprer_addin_addin.button_1" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Par&#225;metro B&#250;squeda" category="SIGPRER" class="Parametro" id="sigprer_addin_addin.button_2" image="" message="Ingreso del par&#225;metro de b&#250;squeda" tip="Ingreso del par&#225;metro de b&#250;squeda"><Help heading="Ingreso del par&#225;metro de b&#250;squeda">Ingreso del par&#225;metro de b&#250;squeda</Help></Button>
        <Button caption="Buscar" category="SIGPRER" class="Buscar" id="sigprer_addin_addin.button_3" image="" message="Ubica el predio en el mapa" tip="Ubica el predio en el mapa"><Help heading="Ubica el predio en el mapa">Ubica el predio en el mapa</Help></Button>
        <Button caption="Asignaci&#243;n Clave Catastral:" category="SIGPRER" class="ButtonClass11" id="sigprer_addin_addin.button_4" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Clave Catastral" category="SIGPRER" class="ClaveCatastral" id="sigprer_addin_addin.button_5" image="" message="Guarda la clave catastral que ser&#225; asignada al predio" tip="Guarda la clave catastral que ser&#225; asignada al predio"><Help heading="Guarda la clave catastral que ser&#225; asignada al predio">Guarda la clave catastral que ser&#225; asignada al predio</Help></Button>
        <Tool caption="Asignar Clave" category="SIGPRER" class="AsignarClave" id="sigprer_addin_addin.tool_2" image="" message="Asigna la clave catastral al predio seleccionado" tip="Asigna la clave catastral al predio seleccionado"><Help heading="Asigna la clave catastral al predio seleccionado">Asigna la clave catastral al predio seleccionado</Help></Tool>
        <Button caption="Impuestos" category="SIGPRER" class="ButtonClass17" id="sigprer_addin_addin.button_6" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Factores" category="SIGPRER" class="Factor" id="sigprer_addin_addin.button_7" image="" message="Abre la ventana de factores" tip="Abre la ventana de factores"><Help heading="Abre la ventana de factores">Abre la ventana de factores</Help></Button>
        <Tool caption="Aval&#250;o" category="SIGPRER" class="Avaluo" id="sigprer_addin_addin.tool_3" image="" message="Abre la ventana de avaluo del predio" tip="Abre la ventana de avaluo del predio"><Help heading="Abre la ventana de avaluo del predio">Abre la ventana de avaluo del predio</Help></Tool>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="SIGPRER" category="SIGPRER" id="sigprer_addin_addin.tlbSigprer" showInitially="true"><Items><Button refID="sigprer_addin_addin.btnInicio" /><Button refID="sigprer_addin_addin.btnCerrar" /><Button refID="sigprer_addin_addin.button" /><Tool refID="sigprer_addin_addin.tool" /><Tool refID="sigprer_addin_addin.tool_1" /><Button refID="sigprer_addin_addin.button_1" /><Button refID="sigprer_addin_addin.button_2" /><Button refID="sigprer_addin_addin.button_3" /><Button refID="sigprer_addin_addin.button_4" /><Button refID="sigprer_addin_addin.button_5" /><Tool refID="sigprer_addin_addin.tool_2" /><Button refID="sigprer_addin_addin.button_6" /><Button refID="sigprer_addin_addin.button_7" /><Tool refID="sigprer_addin_addin.tool_3" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>